.landing__text--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-void)
}

.landing__text--title {
    padding-bottom: 6px;
    font-weight: 900;
    font-size: 48px;
}

.landing__text-sub-title {
    padding-bottom: 12px;
}